@model IEnumerable<Kod_Yazilim_Personel.App_Data.Log>
@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid text-center">
        <div class="card card-cascade narrower">
            <section>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 mr-0">
                        <div class="view gradient-card-header light-blue lighten-1">
                            <h2 class="h2-responsive mb-0">LOG KAYITLARI</h2>
                        </div>
                        <br /><br />
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">IP Adress</th>
                                    <th scope="col">PC Name</th>
                                    <th scope="col">MAC Adress</th>
                                    <th scope="col">Page Name</th>
                                    <th scope="col">Operation </th>
                                    <th scope="col">Date</th>
                                    <th scope="col">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <th>@item.IpAdress</th>
                                    <th>@item.PcName</th>
                                    <th>@item.MacAdress</th>
                                    <th>@item.PageName</th>
                                    <th>@item.Operation</th>
                                    <th>@item.Date</th>
                                    <th>@item.UserName</th>
                                </tr>
                                }
                            </tbody>
                        </table>


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>