@model IEnumerable<Kod_Yazilim_Personel.App_Data.Hareketler>

@{
    ViewBag.Title = "PersonelMusteri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- DataTables Select CSS -->

<main>
    <div class="container-fluid text-center">
        <div class="card card-cascade narrower">
            <section>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 mr-0">
                        <div class="view gradient-card-header light-blue lighten-1">
                            <h2 class="h2-responsive mb-0">Personel Müşteri Çıkışları</h2>
                        </div>
                        <br /> <br />
                        <div class="col-md-4">
                            <div class="md-form">
                                <input placeholder="@DateTime.Now.ToShortDateString()" type="date" id="datepicker" data-date-format="DD MMM YYYY" class="form-control datepicker" data-value="2018/06/04">
                            </div>
                        </div>
                        <br /><br />

                        <!-- Table with panel -->
                        <div class="card card-cascade narrower">
                            <div class="view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
                                <div>
                                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-th-large mt-0"></i></button>
                                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-columns mt-0"></i></button>
                                </div>
                                <a href="" class="white-text mx-3"></a>
                                <div>
                                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-pencil mt-0"></i></button>
                                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-info-circle mt-0"></i></button>
                                </div>
                            </div>
                            <div class="px-4">

                                <div class="table-wrapper">
                                    <table class="table table-hover mb-0" id="myTable">
                                        <thead>
                                            <tr>
                                                @*<th>
            <input type="checkbox" id="checkbox">
            <label for="checkbox" class="mr-2 label-table"></label>
        </th>*@
                                                <th class="th-lg"><a href="">Kayıt Id <i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a href="">Kart ID<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a href="">Ad Soyad<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a href="">Tarih Saat<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a href="">İşlem<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a href="">İşlem Tarihi<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a href="">Müşteri Bilgisi<i class="fa fa-sort ml-1"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var kayit in Model)
                                            {
                                                <tr>
                                                    @*<th scope="row">
                                                            <input type="checkbox" id="checkbox@(kayit.Hareketler)" name="ids" value="@kayit.Id">
                                                            <label for="checkbox@(kayit.Id)" class="label-table"></label>
                                                        </th>*@
                                                    <th>@kayit.Id</th>
                                                    @if (Session["uyeTuru"].ToString() == "1")
                                                    {
                                                        <th>@kayit.KayitliPersonel.KartID</th>
                                                    }
                                                    <th>@kayit.KayitliPersonel.PAdSoyad</th>
                                                    <th>@kayit.Tarih</th>
                                                    <th>@kayit.Islem</th>
                                                    <th>@kayit.MusteriTipiDateTime</th>
                                                    <th>@kayit.MusteriBİlgisi</th>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <hr class="my-0">
                                <div class="d-flex justify-content-between">
                                    @*<select class="mdb-select colorful-select dropdown-primary mt-2 hidden-md-down" id="rows">
                                            <option value="" disabled>Rows number</option>
                                            <option value="1" selected>10 rows</option>
                                            <option value="2"> 25 rows</option>
                                            <option value="3"> 50 rows</option>
                                            <option value="4"> 100 rows</option>
                                        </select>*@
                                    <nav class="my-4" @*style="padding-left: 865px;"*@>
                                        <ul class="pagination pagination-circle pg-blue mb-0">
                                            <li class="page-item disabled"><a class="page-link">First</a></li>
                                            <li class="page-item disabled">
                                                <a class="page-link" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <div id="sayfalar" style="display:inherit;"></div>
                                            <li class="page-item">
                                                <a class="page-link" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link">Last</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                        <br />
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
</main>



<script>

    $(document).ready(function () {
        $('.mdb-select').material_select();
        $('.datepicker').pickadate({
            monthsFull: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
            monthsShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz', 'Tem', 'Aug', 'Eyl', 'Eki', 'Kas', 'Ara'],
            weekdaysFull: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
            weekdaysShort: ['Pzr', 'Pzt', 'Sal', 'Car', 'Per', 'Cum', 'Cmt'],
            today: 'Bugün',
            clear: 'Temizle',
            close: 'Kapat',
            labelMonthNext: 'Sonraki Ay',
            labelMonthPrev: 'Önceki Ay',
            labelMonthSelect: 'Ay Seçiniz',
            labelYearSelect: 'Yıl Seçiniz',
            format: 'dd.mm.yyyy',
            firstDay: 1
        });
        //$('.datepicker').pickadate();


        $('.datepicker').change(() => {
            let date = $('.datepicker').val();
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: './PersonelMusteriHistory?date=' + date,
                success: (data) => {
                    var list = $('#myTable');
                    list.find('tbody tr').remove();
                    list.find('tbody th').remove();
                    list.find('div').remove();
                    var rows;
                    $.each(JSON.parse(data), function (i, item) {
                        rows += "<tr>" +
                            "<th>" + item.Id + "</th>" +
                            "<th>" + item.KartID + "</th>" +
                            "<th>" + item.PAdSoyad + "</th>" +
                            "<th>" + item.gun + '.' + item.ay + '.' + item.yil + " " + item.saat + ":" + item.dakika + "</th>" +
                            "<th>" + item.Islem + "</th>" +
                            "<th>" + item.MusteriTipiDateTime + "</th>" + 
                            "<th>" + + "</td>"
                            "</tr>";
                    });
                    $('#myTable tbody').html(rows);
                }, error: (err) => console.error(err)
            });
        });
    });


    $(function () {
        function sayfala() {
            var toplamLi = $("#myTable tbody tr").length;
            var veriSay = 25;
            var sayfaSayisi = toplamLi / veriSay;
            if (sayfaSayisi > parseInt(sayfaSayisi)) {
                sayfaSayisi++;
            }
            $("#myTable tbody tr:gt(" + (veriSay - 1) + ")").hide();
            for (var i = 1; i <= sayfaSayisi; i++) {
                $("#sayfalar").append("<li class='page-item'><a class='page-link'>" + i + "</a></li>");
            }
            $("#sayfalar li").addClass("page-item");
            $("#sayfalar li:first").removeClass();
            $("#sayfalar li:first").addClass("page-item active");

            $("#sayfalar li").click(function () {
                $("#myTable tbody tr").hide();
                var index = $(this).index();
                $("#sayfalar li").removeClass();
                $("#sayfalar li").addClass("page-item");
                $("#sayfalar li:eq(" + index + ")").removeClass();
                $("#sayfalar li:eq(" + index + ")").addClass("page-item active");
                var syf = index + 1;
                var s = veriSay * syf;
                for (var i = s - veriSay; i < s; i++) {
                    $("#myTable tbody tr:eq(" + i + ")").show();
                }
            });
        }
        sayfala();

    });

</script>
